DEBUG=1
SECRET_KEY=change-me
ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_SETTINGS_MODULE=config.settings.dev
POSTGRES_DB=sigida_sugu
POSTGRES_USER=sigida
POSTGRES_PASSWORD=sigida
POSTGRES_HOST=db
POSTGRES_PORT=5432
REDIS_URL=redis://redis:6379/0
CELERY_BROKER_URL=redis://redis:6379/1
CELERY_RESULT_BACKEND=redis://redis:6379/2
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000
INTTOUCH_BASE_URL=https://developers.intouchgroup.net
INTTOUCH_API_KEY=change-me
INTTOUCH_API_SECRET=change-me
SENTRY_DSN=